*{
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img{
width: 480px;
height: fit-content;
margin-bottom: 30px;
}

.content{
    background-color: black;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#not{
    background-color: red;
    border: none;
    width: 100px;
    height: 90px;
    border-radius: 10px;
    color: white;
}

#yes{
    background-color: green;
    border: none;
    width: 100px;
    height: 90px;
    border-radius: 10px;
    color: white;
}